[settings]
DEBUG = True
WORK_ON_POSTGRE_SQL = False

SECRET_KEY = <secret data>

# NEWS API
NEWS_API_KEY = <secret data>

# DATABASE CONFIG
DB_NAME = <database name>
DB_USER = <database user>
DB_PASSWORD = <database password>
DB_HOST = <database host>
DB_PORT = <database port>

# REDIS CONFIG
BROKER_URL = <secret data>
CELERY_RESULT_BACKEND = <secret data>

# AWS CONFIG
AWS_ACCESS_KEY_ID = <secret data>
AWS_SECRET_ACCESS_KEY = <secret data>
AWS_STORAGE_BUCKET_NAME = <secret data>
