{% extends 'base.html' %}
{% load bootstrap4 i18n staticfiles %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <td><h1>{% trans 'Games with genre: ' %}{{ selected_genre.name }}</h1></td>
        </tr>
        </thead>
    </table>
    {% for game in all_games_with_genre %}
        <table class="table">
            <thead>
            <tr>
                <td colspan="4"><h1>{{ game.title }}</h1></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><h4>{% trans 'Genre' %}</td>
                <td style="text-align: center">
                    {% for genre in game.genre.all %}
                        <h5>
                            <a href="{% url 'genre:show-genre' genre.id %}">{{ genre.name }}</a>
                        </h5>
                    {% endfor %}
                </td>
                <td rowspan="4" style="text-align: center">
                    <img alt="{% trans 'No image' %}" src="{{ game.image.url }}" style=width:500px;height:400px;>
                </td>
            </tr>
            <tr>
                <td><h4>{% trans 'Developer' %}</h4></td>
                <td><h5><a href="{% url 'games-by-developer' game.developer.id %}">
                    {{ game.developer }}</a></h5>
                </td>
            </tr>
            <tr>
                <td><h4>{% trans 'Tags' %}</h4></td>
                <td style="text-align:center">
                    {% for tag in game.tags.all %}
                        <a href="{% url 'show-tag' tag.id %}" class="btn btn-secondary">{{ tag.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><h4>{% trans 'Year' %}</h4></td>
                <td><h5>{{ game.year }}</h5></td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="{% url 'delete-game' game.id %}"
                       class="btn btn-dark btn-lg btn-block">{% trans 'Delete' %}</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
