{% extends 'base.html' %}
{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <td colspan="3">
                <h1>ADD NEW GAME</h1>
            </td>
        </tr>
        </thead>
    </table>
    <table class="table table-dark">
        <tr>
            <td>
                <form action="{% url 'add-game' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}

                    <input type="submit" value="Submit" class="btn btn-dark btn-lg btn-block">
                </form>
            </td>
        </tr>
    </table>

{% endblock %}