<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mainpage' %}">Main page</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Recommend game
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'recommend-by-tags' %}">Recommend by tags</a>
                    <a class="dropdown-item" href="{% url 'recommend-by-rating' %}">Recommend by rated games</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'games' %}">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">Users</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Other lists
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'developers' %}">Developers</a>
                    <a class="dropdown-item" href="{% url 'genres' %}">Genres</a>
                    <a class="dropdown-item" href="{% url 'tags' %}">Tags</a>
                    <a class="dropdown-item" href="{% url 'about' %}">About</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" style=visibility:hidden></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><b>USER: {{ request.user.username }}</b></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-user' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><b>USER: None</b></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="jumbotron">
<div>
    <img src="/static/img/logo/logo.png" alt="No image" style="width: 230px;height: 230px; float: left; border: none;">
</div>
<div>
    <img src="/static/img/logo/logo.png" alt="No image" style="width: 230px;height: 230px; float: right; border: none;">
</div>
    <h1 class="display-4" style="text-align: center">Game Picker</h1>
    <p></p>
    <div id="textMessage"></div>
    {% for quote in all_quotes %}
        <div class="textContent">
            <h2 style="padding-top:17px; color:mintcream; font-size:28px;">
                {{ quote.quote }} - <em>{{ quote.author }}</em>
            </h2>
        </div>
    {% endfor %}
</div>
<div class="content">
    {% block content %}
        <table class="table">
            <thead>
            <tr>
                <td colspan="3">
                    <h1>GAMING NEWS</h1>
                </td>
            </tr>
            </thead>
        </table>
        {% for item in response %}
            <table class="table">
                <tr>
                    <td>
                        <h1>{{ item.title }}</h1>
                    </td>
                    <td rowspan="2">
                        <img src="{{ item.urlToImage }}" alt="'No image"
                             style='width:300px;height:200px;float:right; margin-right: 50px'>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <h3>{{ item.description }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ item.url }}" class="btn btn-dark btn-lg"
                           style='float:right;width:300px; margin-right: 50px'>Go
                            to this news</a>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/slider.js"></script>

</body>
</html>