<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="buttons_and_login">
    <div class="sidebar">
        <div class="login">
            {% if request.user.is_authenticated %}
                <a class="btn btn-secondary" href="">USER: {{ request.user.username }}</a>
                <p></p>
                <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a><br>
                <p></p>
                <a class="btn btn-secondary" style=visibility:hidden></a>
            {% else %}
                <a class="btn btn-secondary" href="">USER: None</a>
                <p></p>
                <a class="btn btn-secondary" href="{% url 'login' %}">Login</a><br>
                <p></p>
                <a class="btn btn-secondary" href="{% url 'add-user' %}">Register</a>
            {% endif %}
        </div>
        <div class="buttons">
            <a href="{% url 'mainpage' %}" class="btn btn-secondary">Main page</a>
            <br>
            <p></p>
            <a href="{% url 'experience-choice' %}" class="btn btn-secondary">Recommend game</a>
            <br>
            <p></p>
            <a href="{% url 'users' %}" class="btn btn-secondary">User list</a>
            <br>
            <p></p>
            <a href="{% url 'games' %}" class="btn btn-secondary">Game list</a>
            <br>
            <p></p>
            <a href="{% url 'developers' %}" class="btn btn-secondary">Developer list</a>
            <br>
            <p></p>
            <a href="{% url 'genres' %}" class="btn btn-secondary">Genre list</a>
            <br>
            <p></p>
            <a href="{% url 'tags' %}" class="btn btn-secondary">Tag list</a>
            <br>
        </div>
    </div>

    <div class="content">
        <div class="header">
            <table class="table">
                <thead>
                <tr>
                    <td>
                        <h1>GAME RECOMMENDATIONS</h1>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
        <p></p>
        {% block content %}
            <table class="table">
                <thead>
                <tr>
                    <td colspan="3">
                        <h1>GAMING NEWS</h1>
                    </td>
                </tr>
                </thead>
            </table>
            {% for item in response %}
                <table class="table">
                    <tr>
                        <td>
                            <h1>{{ item.title }}</h1>
                        </td>
                        <td rowspan="2">
                            <img src="{{ item.urlToImage }}" alt="'No image" style=width:300px;height:200px;float:right>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <h3>{{ item.description }}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ item.url }}" class="btn btn-dark btn-lg" style=float:right;width:300px>Go
                                to this news</a>
                        </td>
                    </tr>
                </table>
            {% endfor %}


        {% endblock %}
    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>