{% extends 'base.html' %}
{% block content %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <td colspan="3">
                <h1>What type of gamer are you?</h1>
            </td>
        </tr>
        </thead>
    </table>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <td colspan="3">
                <div class="imgContainer">
                    <h1>Newbie</h1>
                    <a href="{% url 'recommend-by-tags' %}">
                        <img src="/static/img/easy_image.jpg"
                             alt="" style=width:450px;height:450px;>
                    </a>
                </div>
                <div class="imgContainer">
                    <h1>Veteran</h1>
                    <a href="{% url 'recommend-by-rating' %}">
                        <img src="/static/img/hard_image.jpg"
                             alt="" style=width:450px;height:450px;>
                    </a>
                </div>
                </div>
            </td>
        </tr>
        </thead>
    </table>
{% endblock %}