{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <td>
                <h1>DEVELOPER LIST</h1>
            </td>
        </tr>
        </thead>
    </table>
    <thead>
    <tr>
        <td>
            <a href="{% url 'add-developer' %}" class="btn btn-dark btn-lg btn-block">Add developer</a>
            <p></p>
        </td>
    </tr>
    </thead>
    {% for developer in all_developers %}
        <table class="table table-striped table-dark">
            <tbody>
            <tr>
                <td>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" style="width: 1000px">
                            {{ developer.name }}
                        </button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'delete-developer' developer.pk %}">
                                Delete developer
                            </a>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}