{% extends 'base.html' %}
{% block content %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <td colspan="3">
                <h1>GAME LIST</h1>
            </td>
        </tr>
        </thead>
    </table>
    <thead>
    <tr>
        <td colspan="3">
            <a href="{% url 'add-game' %}" class="btn btn-dark btn-lg btn-block">Add game</a>
        </td>
    </tr>
    </thead>
    {% for game in all_games %}
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <td colspan="4">
                    <h1>{{ game.title }}</h1>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">GENRE</th>
                <td>
                    {% for genre in game.genre.all %}
                        <h5>{{ genre.name }}</h5>
                    {% endfor %}
                </td>
                <td rowspan="4" style="text-align: center">
                    <img src="{{ game.image.url }}" style=width:400px;height:400px;>
                </td>
            </tr>
            <tr>
                <th scope="row">DEVELOPER</th>
                <td>
                    <h5>{{ game.developer }}</h5>
                </td>
            </tr>
            <tr>
                <th scope="row">TAGS</th>
                <td style="text-align:center">
                    {% for tag in game.tags.all %}
                        <a href="" class="btn btn-secondary">{{ tag.name }}</a><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">YEAR</th>
                <td>
                    <h5>{{ game.year }}</h5>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="{% url 'delete-game' game.id %}" class="btn btn-dark btn-lg btn-block">Delete game</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}