{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <td colspan="4">
                <h3>{{ game.title }}</h3>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <h4>Genre</h4>
            </td>
            <td style="text-align: center">
                {% for genre in game.genre.all %}
                    <h5><a href="{% url 'show-genre' genre.id %}">{{ genre.name }}</a></h5>
                {% endfor %}
            </td>
            <td rowspan="4" style="text-align: center">
                <img src="{{ game.image.url }}" style=width:400px;height:300px;>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Developer</h4>
            </td>
            <td>
                <h5><a href="{% url 'show-developer' game.developer.id %}">{{ game.developer }}</a></h5>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Tags</h4>
            </td>
            <td style="text-align:center">
                {% for tag in game.tags.all %}
                    <a href="{% url 'show-tag' tag.id %}" class="btn btn-secondary">{{ tag.name }}</a><br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <h4>Year</h4>
            </td>
            <td>
                <h5>{{ game.year }}</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Game Rating</h4>
            </td>
            <td>
                {% if gamescore %}
                    <h5>{{ gamescore.score }}</h5>
                {% else %}
                    <h5>Not rated yet</h5>
                {% endif %}
            </td>
        </tr>
        {% if user.is_authenticated %}
            <tr>
                <td>
                    <h4>Rate Game</h4>
                </td>
                <td>
                    <form action="{% url 'game-details' game.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" class="btn btn-dark btn-lg btn-block">
                    </form>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3">
                <a href="{% url 'delete-game' game.id %}" class="btn btn-dark btn-lg btn-block">Delete game</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
