{% extends 'base.html' %}
{% load bootstrap4 i18n staticfiles %}
{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <td colspan="3"><h1>{% trans 'Choose your preferences' %}</h1></td>
        </tr>
        </thead>
    </table>
    <table class="table table-dark">
    <tr>
        <td>
        <form action="{% url 'game_recommendation:recommend-manually' %}" method="POST" class="form-group">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="{% trans 'Submit' %}" class="btn btn-dark btn-lg btn-block">
        </form>
        </td>
    </tr>
    </table>

{% endblock %}
