{% extends 'base.html' %}
{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <td>
                <div><h4>Logo made with <a href="https://www.designevo.com/"
                                           title="Free Online Logo Maker">DesignEvo</a>
                </h4></div>
            </td>
        </tr>
        <tr>
            <td>
                <div><h4>Banner from <a href="https://www.ytgraphics.com/"
                                        title="YTGraphics">www.ytgraphics.com</a>
                </h4></div>
            </td>
        </tr>
        </thead>
    </table>
{% endblock %}