{% extends 'base.html' %}
{% load bootstrap4 i18n staticfiles %}
{% block content %}
    <table class="table table-dark">
        <thead>
        <tr>
            <td><h1>{% trans 'Tags' %}</h1></td>
        </tr>
        </thead>
    </table>
    {% if user.is_authenticatd %}
        <thead>
        <tr>
            <td>
                <a href="{% url 'tag:tag-create' %}"
                   class="btn btn-dark btn-lg btn-block">{% trans 'Create' %}</a>
            </td>
        </tr>
        </thead>
    {% endif %}
    <p></p>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.level == 20 %}
                class="alert alert-primary" {% else %}
                class="alert alert-warning" {% endif %} role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for tag in object_list %}
        <table class="table table-dark">
            <tbody>
            <tr>
                <td>
                    <div class="btn-group btn-group-justified" role="group" aria-label="Basic example"
                         style="width: 100%;">
                        <button type="button" class="btn btn-secondary"
                                style="width:{% if user.is_staff %}80%{% else %}100%{% endif %}">
                            <a href="{% url 'tag:games-by-tag' tag.id %}" style="color: mintcream">
                                {{ tag.name }}</a>
                        </button>
                        {% if user.is_staff %}
                            <button type="button" class="btn btn-danger" style="width: 20%;">
                                <a href="{% url 'tag:tag-delete' tag.id %}">
                                    {% trans 'Delete' %}</a>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
