<!DOCTYPE html>
{% load bootstrap4 i18n staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Gameweb' %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Righteous">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="{% static 'css/hover-min.css' %}" rel="stylesheet" media="all">
</head>
<body>
<div class="container">
    {% if user.is_staff or user.is_superuser %}
        {% include 'navbar_staff.html' %}
    {% elif user.is_authenticated %}
        {% include 'navbar_user_authenticated.html' %}
    {% else %}
        {% include 'navbar_user_unauthenticated.html' %}
    {% endif %}
</div>
<div class="header">
    <div>
        <img id="header-logo" src="{% static 'img/logo.jpg' %} " alt="No image">
    </div>
    <div class="title">
        <h1 class="header-title display-4">{% trans 'Gameweb' %}</h1>
    </div>
    <div id="textMessage">
        {% for quote in all_quotes %}
            <div class="textContent">
                <p id="quote-text">{{ quote.quote }} - <em>{{ quote.author }}</em></p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="image_banner_container">
    <img id="image-banner"
         src="{% static 'img/new_banner.jpg' %}"
         alt="{% trans 'No image' %}">
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/slider.js"></script>
<script src="/static/js/dropdown_hover.js"></script>
</body>
</html>
